@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

.scroller_badaDabba {
  max-width: 100vw;
  padding-block: 2vw;
  background-color: #0a3f25;
  overflow-x: hidden;

  
  /* 7963bbff */
}

.scroller_chota {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  white-space: nowrap;
}

.lai {
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: white;
  animation: heading 5s linear infinite;
}

@keyframes heading {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* naya halpplpjdopjsr */
.mera_div {
  background-image: url("./bgpurple.jpg");
  background-position: center;
  background-size: cover;
}